*{
    box-sizing: border-box;
    font-family: 'Raleway';
}
html,body{
    margin: 0px;
    background-image:url("background.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    background-color: hsla(201,100% ,6%, 0.6);
    border-radius: 8px;

}